<div id="history">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Criteria</th>
				<th>Term</th>
				<th>Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="searchEntry in vm.searchEntries" role="button" ng-click="vm.selectEntry(searchEntry)">
				<td>{{ $index + 1 }}</td>
				<td>{{ searchEntry.service.description }}</td>
				<td>{{ searchEntry.term }}</td>
				<td>{{ searchEntry.date | date: "short" }}</td>
				<td>
					<span class="glyphicon glyphicon-remove" role="button" ng-click="vm.removeEntry(searchEntry); $event.stopPropagation()"></span>
				</td>
			</tr>
		</tbody>
	</table>

</div>
