
body {
    .navbar {
        &.disabled {
            opacity: 0.5;

            .hider {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                height: 80px;
            }
        }
    }

    .main-content {
        margin: 80px auto 10px auto;

        #login {
            margin: 0 auto;
            max-width: 400px;
        }

        #register {
        }

        #home {
            a {
                height: 200px;
                border-radius: 0;

                div {
                    position: relative;
                    top: 45%;
                }
            }

            .separator {
                height: 30px;
            }
        }
    }
}

#add-exercise {
    .start-time {
        overflow: hidden;
    }
}
