
body {
    .container {
        margin: 20px auto;

        #login {
            margin: 0 auto;
            max-width: 400px;
        }

        #register {
        }

        #home {
            a {
                height: 200px;
                border-radius: 0;

                div {
                    position: relative;
                    top: 45%;
                }
            }

            .separator {
                height: 30px;
            }
        }
    }
}

#add-exercise {
    .start-time {
        overflow: hidden;
    }
}
